Guided Project

In [1]:
with open("US_births_1994-2003_CDC_NCHS.csv", "r") as f:
    text = f.read().split("\n")

In [2]:
text[0:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

In [3]:
def read_csv(input_file):
    with open("US_births_1994-2003_CDC_NCHS.csv","r") as f:
        string_list = f.read().split("\n")[1:]
    final_list = []
    for item in string_list:
        final_list.append([int(x) for x in item.split(",")])
    return final_list

In [4]:
cdc_list = read_csv("US_births_1994-2003_CDC_NCHS.csv")

In [5]:
cdc_list[0:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

In [14]:
def month_births(input_list):
    births_per_month = {}
    for item in input_list:
        if item[1] in births_per_month:
            births_per_month[item[1]] = births_per_month[item[1]] + int(item[4])
        else:
            births_per_month[item[1]] = int(item[4])
    return births_per_month

In [15]:
cdc_month_births = month_births(cdc_list)

In [17]:
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [18]:
def dow_births(input_list):
    births_per_dow = {}
    for item in input_list:
        if item[3] in births_per_dow:
            births_per_dow[item[3]] = births_per_dow[item[3]] + int(item[4])
        else:
            births_per_dow[item[3]] = int(item[4])
    return births_per_dow

In [19]:
cdc_day_births = dow_births(cdc_list)

In [20]:
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [21]:
def calc_counts(input_list, column):
    births_per_col = {}
    for item in input_list:
        if item[column] in births_per_col:
            births_per_col[item[column]] = births_per_col[item[column]] + int(item[4])
        else:
            births_per_col[item[column]] = int(item[4])
    return births_per_col

In [23]:
text[0]

'year,month,date_of_month,day_of_week,births'

In [24]:
cdc_year_births = calc_counts(cdc_list, 0)

In [38]:
cdc_year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

In [26]:
cdc_month_births = calc_counts(cdc_list,1)

In [27]:
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [29]:
cdc_dom_births = calc_counts(cdc_list,2)

In [30]:
cdc_dom_births

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

In [32]:
cdc_dow_births = calc_counts(cdc_list,3)

In [33]:
cdc_dow_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [35]:
min(cdc_dow_births.values())

4079723

In [37]:
max(cdc_dow_births.values())

6446196

In [39]:
cdc_year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

In [46]:
prev_count = 0
for key, value in sorted(cdc_year_births.items()):
    diff = value - prev_count
    print (key, diff)
    prev_count = value

1994 3952767
1995 -53178
1996 -8095
1997 -10600
1998 60659
1999 17864
2000 99397
2001 -32881
2002 -4207
2003 68224